.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 10px;
  background: #f4f4f4;
  overflow-x: hidden;
}